DATABASE_URL=""
APP_URL=""
UPLOADTHING_TOKEN=""
CHATTERBOX_API_KEY=""
CHATTERBOX_API_URL=""
HF_ACCESS_TOKEN=""
BETTER_AUTH_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
DODO_PAYMENTS_API_KEY=""
DODO_PAYMENTS_WEBHOOK_KEY=""
DODO_PAYMENTS_RETURN_URL=""
DODO_PAYMENTS_ENVIRONMENT=""
DODOPAYMENTS_PRODUCT_ID=""
DODOPAYMENTS_PRODUCT_ID=""
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""
